body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    font-family: cursive;
}
.Testimonial_Slider{
    width: 500px;
    height: 100px;
    background-color: #363062;
    border-radius: 10px;
    box-shadow: 0, 4px  8px  rgba(0,0,0,0,3);
    min-width: 400px;
    padding: 70px 20px;
    margin: 5px;
    color: yellow;
}
img{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 230px;
}
.username{
    font-size: 13px;
    font-weight: 100;
}
h6{
    text-align: center;
    color:aqua;
    font-style: italic;
   
}